*{
    padding: 0%;
}

body{
    padding-bottom: 500px;
}
h2{
    font-size: 22px;
    color: blue;
}
h3{
    font-size: 22px;
    color: rgb(255, 0, 0);
}
.meu-titulo{
    color: rgb(0, 233, 0);
}
#ultimo-titulo{
color: rgb(8, 139, 253);          
}
.fundo-azul{
    background-color: aqua;
}
.texto-pequeno,#meu-paragrafo{
    color: aqua;
}
#minha-div{
   background-image: url(../assests/images.png);
   padding: 1px;
}
#altura-largura{
    height: 20px;
    width: 20px;
    background-color: blueviolet;
}
#div-espaçamento{
    background-color: aqua;
    padding: 10px 20px 10px 20px;
    width: 200px;
    height: 200px;
}
#div-borda{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    border: 12px solid crimson;
    border-radius: 150px;
}
